<html>  
        <a href="/">home</a>
        <a href="/customer/login">login</a>
        <a href="/customer/create">register</a>
        <a href="/customer/list">customer list</a>
        <a href="/customer/logout">logout</a>
        <a href="/menu">menu list</a>
</html>