<html>


        <a href="/customer/login">login</a>
        <a href="/customer/create">register</a>


        <a href="/customer">customer list</a>
        <a href="/customer/logout">logout</a>



</html>