<html>
    <%- include('./partials/header.ejs')%>
    <h1>REGISTER</h1>
    <form action="/customer/store" method="post">
        <h2>First Name</h2>
        <input type="text" name="first_name" placeholder="e.g Jon">
        <h2>Last Name</h2>
        <input type="text" name="last_name" placeholder="e.g Now">
        <h2>Email</h2>
        <input type="text" name="email" placeholder="e.g username@mail.com">
        <h2>Password</h2>
        <input type="password" name="password" placeholder="insert your password here">
        <h2>Phone Number</h2>
        <input type="number" name="phone_number" placeholder="minimum 10 digits">
        <br><br>
        <button type="submit">REGISTER</button>
        <button ><a href="/">CANCEL</a></button>
        
    </form>
</html>